* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin-top: 9rem;
  font-size: 2.4rem;
}

#title {
  font-size: 6.4rem;
}
#rgb-color {
  font-size: 3.9rem;
}

.balls_content {
  padding-top: 5rem;
}

.ball {
  background-color: rgb(12, 51, 85);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
